<center> <img src = https://raw.githubusercontent.com/AndreyRysistov/DatasetsForPandas/main/hh%20label.jpg alt="drawing" style="width:400px;">

# <center> Проект: Анализ вакансий из HeadHunter

In [160]:
import pandas as pd
import psycopg2
import plotly.express as px

In [162]:
connection = psycopg2.connect(
    dbname=DBNAME,
    user=USER,
    host=HOST,
    password=PASSWORD,
    port=PORT
)

# Юнит 3. Предварительный анализ данных

In [163]:
# текст запроса
query_3_1 = f''' select
count(id) as cnt_vacancies
from public.vacancies
'''

In [164]:
# результат запроса
display(pd.read_sql_query(query_3_1, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\3388609279.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   cnt_vacancies
0          49197

In [165]:
# текст запроса
query_3_2 = f''' select
                count(id) as cnt_employers
                from public.employers
'''

In [166]:
# результат запроса
display(pd.read_sql_query(query_3_2, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\2158789556.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   cnt_employers
0          23501

In [167]:
# текст запроса
query_3_3 = f''' select
                count(id) as cnt_areas
                from public.areas
'''

In [168]:
# результат запроса
display(pd.read_sql_query(query_3_3, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\366161583.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   cnt_areas
0       1362

In [169]:
# текст запроса
query_3_4 = f''' select
                count(id) as cnt_industries
                from public.industries
'''

In [170]:
# результат запроса
display(pd.read_sql_query(query_3_4, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\1250204593.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   cnt_industries
0             294

***

# выводы по предварительному анализу данных

# Юнит 4. Детальный анализ вакансий

In [171]:
# текст запроса
query_3_5 = f''' select
                    ar.name as area_name,
                    count(vac.id) as cnt_vacancies
                from public.vacancies as vac
                left join public.areas as ar on vac.area_id = ar.id
                group by ar.name
                order by count(vac.id) desc
'''

In [172]:
# результат запроса
display(pd.read_sql_query(query_3_5, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\4191868579.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

           area_name  cnt_vacancies
0             Москва           5333
1    Санкт-Петербург           2851
2              Минск           2112
3        Новосибирск           2006
4             Алматы           1892
..               ...            ...
764       Тарко-Сале              1
765    Новоаннинский              1
766            Бирск              1
767           Сасово              1
768             Анна              1

[769 rows x 2 columns]

In [173]:
# текст запроса
query_3_6 = f''' select
                count(id) as cnt_vac
                from public.vacancies
                where salary_from is not null or salary_to is not null
'''

In [174]:
# результат запроса
display(pd.read_sql_query(query_3_6, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\3226972435.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   cnt_vac
0    24073

In [175]:
# текст запроса
query_3_7 = f''' select
                round(avg(salary_from)) as sal_from,
                round(avg(salary_to)) as sal_to
                from public.vacancies
                
'''

In [176]:
# результат запроса
display(pd.read_sql_query(query_3_7, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\2938888271.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   sal_from    sal_to
0   71065.0  110537.0

In [177]:
# текст запроса
query_3_8 = f''' select
                schedule,
                employment,
                count(id) as cnt_vc
                from public.vacancies
                group by 1, 2
                order by 3 desc
'''

In [178]:
# результат запроса
display(pd.read_sql_query(query_3_8, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\1291486632.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

            schedule           employment  cnt_vc
0        Полный день     Полная занятость   35367
1   Удаленная работа     Полная занятость    7802
2      Гибкий график     Полная занятость    1593
3   Удаленная работа  Частичная занятость    1312
4     Сменный график     Полная занятость     940
5        Полный день           Стажировка     569
6     Вахтовый метод     Полная занятость     367
7        Полный день  Частичная занятость     347
8      Гибкий график  Частичная занятость     312
9        Полный день     Проектная работа     141
10  Удаленная работа     Проектная работа     133
11     Гибкий график           Стажировка     116
12    Сменный график  Частичная занятость     101
13  Удаленная работа           Стажировка      64
14     Гибкий график     Проектная работа      18
15    Сменный график           Стажировка      12
16    Вахтовый метод     Проектная работа       2
17    Сменный график     Проектная работа       1

In [179]:
# текст запроса
query_3_9 = f''' select
                experience,
                count(id) as cnt_vc
                from public.vacancies
                group by 1
                order by 2 
'''

In [180]:
# результат запроса
ex_data = pd.read_sql_query(query_3_9, connection)
barplot = px.pie(
    data_frame=ex_data,
    values='cnt_vc',
    names='experience',
    hole=.3,
    title='Зависимость количества вакансий от опыта работы'
)
barplot.show()
display(pd.read_sql_query(query_3_9, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\742312047.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\742312047.py:11: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

           experience  cnt_vc
0         Более 6 лет    1337
1           Нет опыта    7197
2       От 3 до 6 лет   14511
3  От 1 года до 3 лет   26152

***

# выводы по детальному анализу вакансий
По понятным причинам количесто вакансий сильно больше, чем в лбом другом регионе. Больше всего вакансий с требованиями в связке 'Полный день-Полная занятость', так как работы где требуется непосредстенное присутствие человека на месте, сильно больше остальных.
Чаще всего встречаются вакансии с требованием опыта работы от 1 года до 3 лет, меньше всего же вакансий с опытом работы от 6 лет, скорее всего это связано с тем, что людей с таким опытом лучше искать через связи и т.д

# Юнит 5. Анализ работодателей

In [182]:
# текст запроса
query_3_10 = f''' (select
                    ep.name,
                    count(vc.id) as cnt_vc
                from public.vacancies as vc
                left join public.EMPLOYERS as ep on vc.employer_id = ep.id
                group by 1
                order by 2 desc
                limit 1)
                union all
                (select
                    ep.name,
                    count(vc.id) as cnt_vc
                from public.vacancies as vc
                left join public.EMPLOYERS as ep on vc.employer_id = ep.id
                group by 1
                order by 2 desc
                offset 4 limit 1)
'''

In [183]:
# результат запроса
display(pd.read_sql_query(query_3_10, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\4157432009.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

            name  cnt_vc
0         Яндекс    1933
1  Газпром нефть     331

In [184]:
# текст запроса
query_3_11 = f''' select
                ar.name as area_name,
                count(em.id) as em_cnt,
                count(vc.id) as vc_cnt
                from public.areas as ar
                full join public.employers as em on em.area = ar.id
                full join public.vacancies as vc on vc.area_id = ar.id
                group by 1
                having count(vc.id) = 0
                order by 2 desc
                limit 1
                
'''

In [185]:
# результат запроса
display(pd.read_sql_query(query_3_11, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\2891963557.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

  area_name  em_cnt  vc_cnt
0    Россия     410       0

In [186]:
# текст запроса
query_3_12 = f''' select
                distinct
                em.name as emp_name,
                count(distinct vc.area_id) as area_cnt
                from public.vacancies as vc
                left join public.employers as em on em.id = vc.employer_id
                group by em.name
                order by 2 desc
                
'''

In [187]:
# результат запроса
display(pd.read_sql_query(query_3_12, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\2129131123.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

                      emp_name  area_cnt
0                       Яндекс       181
1                   Ростелеком       152
2                   Спецремонт       116
3       Поляков Денис Иванович        88
4                    ООО ЕФИН         71
...                        ...       ...
14761     Яроцкий Е. В./ MoonX         1
14762  Ясли-сад №374 г. Минска         1
14763                      ЯСП         1
14764        Ястро-Переработка         1
14765                     ЯТСС         1

[14766 rows x 2 columns]

In [188]:
# текст запроса
query_3_13 = f''' select
                count(em.id)
                from public.employers as em
                left join public.EMPLOYERS_INDUSTRIES as em_in on em.id = employer_id
                where industry_id is null
'''

In [189]:
# результат запроса
display(pd.read_sql_query(query_3_13, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\4040085579.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0   8419

In [190]:
# текст запроса
query_3_14 = f''' select
                em.name,
                count(em_in.industry_id)
                from public.employers as em
                left join public.EMPLOYERS_INDUSTRIES as em_in on em.id = employer_id
                group by em.name
                having count(em_in.industry_id) = 4
                order by 1
                offset 2 limit 1
'''

In [191]:
# результат запроса
display(pd.read_sql_query(query_3_14, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\2178736951.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   name  count
0  2ГИС      4

In [192]:
# текст запроса
query_3_15 = f''' select
                count(employer_id)
                from public.EMPLOYERS_INDUSTRIES as em_in
                left join public.INDUSTRIES as ind on em_in.industry_id = ind.id
                where ind.name = 'Разработка программного обеспечения'
                
'''

In [193]:
# результат запроса
display(pd.read_sql_query(query_3_15, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\1307613778.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   count
0   3553

In [194]:
# код для получения списка городов-милионников
import urllib.parse as req
path_common = req.urlparse('https://ru.wikipedia.org/wiki/Города-миллионеры_России')
url = path_common.scheme + '://' + req.quote(path_common.netloc) + req.quote(path_common.path) + '#' + req.quote(path_common.fragment)
cities = tuple(pd.read_html(url))[1]['Город']
cities = tuple(cities)
print(cities)

('Москва', 'Санкт-Петербург', 'Новосибирск', 'Екатеринбург', 'Казань', 'Нижний Новгород', 'Красноярск', 'Челябинск', 'Самара', 'Уфа', 'Ростов-на-Дону', 'Краснодар', 'Омск', 'Воронеж', 'Пермь', 'Волгоград')

In [195]:
# текст запроса
query_3_16 = f''' 
                select
                    ar.name,
                    count(vc.id) as vac_cnt
                from public.vacancies as vc
                    left join public.areas as ar on vc.area_id = ar.id
                    left join public.employers as em on vc.employer_id = em.id
                where em.name = 'Яндекс' 
                    and ar.name in {cities}
                group by ar.name
            union all
                select
                    'total',
                    count(vc.id)
                from public.vacancies as vc
                    left join public.areas as ar on vc.area_id = ar.id
                    left join public.employers as em on vc.employer_id = em.id
                where em.name = 'Яндекс' 
                    and ar.name in {cities}
                order by 2
'''

In [196]:
# результат запроса
display(pd.read_sql_query(query_3_16, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\1598399746.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

               name  vac_cnt
0              Омск       21
1         Челябинск       22
2        Красноярск       23
3         Волгоград       24
4             Пермь       25
5            Казань       25
6    Ростов-на-Дону       25
7               Уфа       26
8            Самара       26
9         Краснодар       30
10          Воронеж       32
11      Новосибирск       35
12  Нижний Новгород       36
13     Екатеринбург       39
14  Санкт-Петербург       42
15           Москва       54
16            total      485

***

# выводы по анализу работодателей
Бальше всего вакансий на счету Яндекса

# Юнит 6. Предметный анализ

In [198]:
# текст запроса
query_3_17 = f''' 
                select
                    count(id) as vc_cnt
                from public.vacancies as vc
                where lower(name) like '%data%' 
                    or lower(name) like '%данн%' 
                
                
                
'''

In [199]:
# результат запроса
display(pd.read_sql_query(query_3_17, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\1134598494.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   vc_cnt
0    1771

In [200]:
# текст запроса
query_3_18 = f''' 
                select
                    count(id) as vc_cnt
                from public.vacancies as vc
                where (lower(name) like '%data scientist%' 
                    or lower(name) like '%data science%' 
                    or lower(name) like '%исследователь данных%' 
                    or (name like '%ML%' and name not like '%HTML%') 
                    or lower(name) like '%machine learning%' 
                    or lower(name) like '%машинн%обучен%')
                    and (lower(name) like '%junior%' or experience = 'Нет опыта' or employment = 'Стажировка')                
'''

In [201]:
# результат запроса
display(pd.read_sql_query(query_3_18, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\1518354712.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   vc_cnt
0      51

In [202]:
# текст запроса
query_3_19 = f''' 
                select
                    count(id) as vc_cnt
                from public.vacancies as vc
                where (lower(name) like '%data scientist%' 
                    or lower(name) like '%data science%' 
                    or lower(name) like '%исследователь данных%' 
                    or (name like '%ML%' and name not like '%HTML%') 
                    or lower(name) like '%machine learning%' 
                    or lower(name) like '%машинн%обучен%')
                    and (key_skills ilike '%SQL%' or lower(key_skills) like '%postgres%')                
'''

In [203]:
# результат запроса
display(pd.read_sql_query(query_3_19, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\126613409.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   vc_cnt
0     201

In [204]:
# текст запроса
query_3_20 = f''' 
                select
                    count(id) as vc_cnt
                from public.vacancies as vc
                where (lower(name) like '%data scientist%' 
                    or lower(name) like '%data science%' 
                    or lower(name) like '%исследователь данных%' 
                    or (name like '%ML%' and name not like '%HTML%') 
                    or lower(name) like '%machine learning%' 
                    or lower(name) like '%машинн%обучен%')
                    and (key_skills ilike '%python%')                
'''

In [205]:
# результат запроса
display(pd.read_sql_query(query_3_20, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\3680357138.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   vc_cnt
0     351

In [206]:
# текст запроса
query_3_21 = f''' 
                select
                    round(avg(length(vc.key_skills) - length(replace(vc.key_skills, CHR(9), ''))+1),2) as mean_cnt_sk
                from 
                    public.vacancies as vc
                where 
                    (lower(name) like '%data scientist%' 
                    or lower(name) like '%data science%' 
                    or lower(name) like '%исследователь данных%' 
                    or (name like '%ML%' and name not ilike '%HTML%') 
                    or lower(name) like '%machine learning%' 
                    or lower(name) like '%машинн%обучен%')
                    and key_skills is not null
                            
'''

In [207]:
# результат запроса
display(pd.read_sql_query(query_3_21, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\2353013346.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

   mean_cnt_sk
0         6.41

In [208]:
# текст запроса
query_3_22 = f''' 
                select
                    vc.experience,
                    round(avg((coalesce(salary_from, salary_to) + coalesce(salary_to, salary_from))/2)) as avg_sal
                from 
                    public.vacancies as vc
                where (lower(name) like '%data scientist%' 
                    or lower(name) like '%data science%' 
                    or lower(name) like '%исследователь данных%' 
                    or (name like '%ML%' and name not ilike '%HTML%') 
                    or lower(name) like '%machine learning%' 
                    or lower(name) like '%машинн%обучен%')
                    and (salary_from is not null or salary_to is not null)
                group by vc.experience            
'''

In [209]:
# результат запроса
display(pd.read_sql_query(query_3_22, connection))

C:\Users\hp\AppData\Local\Temp\ipykernel_15012\1364769590.py:2: UserWarning:

pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.

           experience     round
0           Нет опыта   74643.0
1  От 1 года до 3 лет  139675.0
2       От 3 до 6 лет  243115.0

***

# выводы по предметному анализу
Чем больше опыт работы, тем больше зарплата

# Общий вывод по проекту

# подведем итог исследования, обобщите выводы
# здесь можно (это будет плюсом) провести дополнительные исследования данных, сделать прогнозы, продумать варианты продолжения исследования
Я бы рассмотрел зависимость уровня зп от региона, какие позиции в вакансиях встречаються чаще всего в целом и в разрезе опыта работы, ну и так же региона